
</div>
<div class="footer-padding">
  <div class="footer">
<div class="favicon">
    <a class="footer-link" href="https://twitter.com/?lang=en"><i class="fab fa-twitter fa-2x"></i></a>
    <a class="footer-link" href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-2x"></i></a>
  <a class="footer-link" href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
<p class="footertext" style="color:grey">@Copyright 🐼</p>
  </div>
  </div>
</div>

</body>
</html>
